<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-visual-novel></app-visual-novel>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a routerLink="matches" routerLinkActive="active" class="nav-link badge badge-pill badge-dark ">Matches</a>
                    </div>
                    <div class="col ">
                        <a routerLink="messages" routerLinkActive="active" class="nav-link badge badge-pill badge-dark ">Messages</a>
                    </div>
                </div>
                <div class="row ">
                    <div class="col ">
                        <a routerLink="profile" routerLinkActive="active" class="nav-link badge badge-pill badge-dark ">Profile</a>
                    </div>
                    <div class="col ">
                        <a routerLink="talk" routerLinkActive="active" class="nav-link badge badge-pill badge-dark ">Just Talk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>