<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-visual-novel></app-visual-novel>
        </div>
        <div class="col-sm-8">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="login_username"><h3>Username</h3></label>
                                <p><input formControlName="login_username" id=”register_username” placeholder="Your username"></p>
                                <p *ngIf="loginForm.controls.login_username.dirty && loginForm.controls.login_username.hasError('required')">
                                    * Username is required!
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="login_password"><h3>Password</h3></label>
                                <p><input formControlName="login_password" id=”login_password” type=”password” placeholder="Your password"></p>
                                <p *ngIf="loginForm.controls.login_password.dirty && loginForm.controls.login_password.hasError('required')">
                                    * Password is required!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary login-vn-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </div>
</div>