<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <app-visual-novel></app-visual-novel>
        </div>
        <div class="col-sm-7">
            <div class="scroll-container" *ngIf="conversationList.length > 0">
                <div *ngFor="let conversation of conversationList">
                    <div id="conversation{{conversationList.indexOf(conversation)}}" class="margin">
                        <h1>{{names[conversationList.indexOf(conversation)]}}</h1>
                        <img id="conversationImage{{conversationList.indexOf(conversation)}}" (error)="setDefault(conversationList.indexOf(conversation))" [routerLink]="['/main/messages/', compareUids(currentUid, conversation['uid'])]" height="200">
                    </div>
                </div>
            </div>
            <div class="bottom-buttons">
                <button class="btn btn-dark" [routerLink]="['/main']">Home</button>
            </div>
        </div>
    </div>
</div>